{extend name="public:base"}
{block name="body"}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>商品品牌</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Brand/add')}" class="actionBtn">添加品牌</a>商品品牌</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
    <tr>
        <th width="30" align="center">编号</th>
        <th align="left">品牌名称</th>
        <th align="center">品牌顺序</th>
        <th align="center">品牌logo</th>
        <th align="center">是否显示</th>
        <th align="center">操作</th>
    </tr>
    {foreach $brands as $key=>$vo}
    <tr>
        <td align="center">{$key+1}</td>
        <td>{$vo.brand_name}</td>
        <td align="center">{$vo.brand_order}</td>
        <td align="center"><img src="{$vo.brand_logo}" alt="" width="60px" height="40px"></td>
        <td>
            {if $vo.brand_status == 1} 显示
            {else} 不显示
            {/if}
        </td>
        <td align="center"><a href="">设置</a> | <a href="manager.html?rec=del&id=1">删除</a></td>
    </tr>
    {/foreach}
</table>
</div>
 </div>
 <div class="clear"></div>
{/block}
<!-- dcFooter 结束 -->
<div class="clear"></div>