{extend name="public:base"}
{block name="body"}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>网站角色</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Role/add')}" class="actionBtn">添加角色</a>网站角色</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
      <th width="30" align="center">编号</th>
      <th align="center" width="100px">角色名称</th>
      <th align="center" width="100px">角色描述</th>
      <th align="center">拥有的权限</th>
      <th align="center" width="100px">操作</th>
     </tr>
    {foreach $roles as $key=>$vo}
    <tr>
        <td align="center">{$key+1}</td>
        <td>{$vo.role_name}</td>
        <td align="center">{$vo.role_desc}</td>
        <td>
            {foreach $vo->limits as $k=>$v}
            {$v->limit_name}
            {/foreach}
        </td>
        <td align="center"><a href="{:url('Limit/add_user_limit',['role_id'=>$vo.role_id])}">设置权限</a> | <a href="manager.html?rec=del&id=1">删除</a></td>
    </tr>
    {/foreach}
</table>
</div>
 </div>
 <div class="clear"></div>
{/block}
<!-- dcFooter 结束 -->
<div class="clear"></div>