{extend name="public:base"}
{block name="script"}
<script>
    $(function(){
        $(document).on("click",".show",function(){
            var show_status = $(this).parent().attr("show_id");
            var cid = $(this).parents("tr").attr("cid");
            $.ajax({
                type:"post",
                url:"{:url('Cate/change_show_status')}",
                data:{
                    show_status:show_status,
                    cid:cid
                },
                dataType:"json",
                success:function(data){
                    if(data.status==1){
                        location.href=""
                    }
                }
            });
        })
        //点击变input框
        $(document).on("click",".cate_name",function(){
            name = $(this).html();
            $(this).parent().html("<input type='text' name='cname' value='"+name+"'>");
        });
        $(document).on("blur","input[name='cname']",function(){
            var val = $(this).val();
            var cid = $(this).parents("tr").attr("cid");
            var obj = $(this);
            if(val==""||val==name){
                $(this).parent().html("<span class='cate_name'>"+name+"</span>");
            }else{
                $.ajax({
                    type:"post",
                    url:"{:url('Cate/change_cate_name')}",
                    data:{
                        cate_name:val,
                        cate_id:cid
                    },
                    dataType:"json",
                    success:function(data){
                        if(data.status==1){
                            location.href="";
                        }
                    }
                })
            }
        })
    });
</script>
{/block}
{block name="body"}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>商品分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
<h3><a href="{:url('Cate/add_cate')}" class="actionBtn add">添加分类</a>商品分类</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="120" align="left">分类名称</th>
        <th align="left">显示</th>
        <th align="left">导航栏显示</th>
        <th align="left">价格区间</th>
       <th width="60" align="center">排序</th>
        <th width="80" align="center">操作</th>
     </tr>
    {foreach $cates as $key=>$vo}
     <tr cid="{$vo.cate_id}">
        <td align="left"><span class="cate_name">{:str_repeat("--",$vo.level)}{$vo.cate_name}</span></td>
        <td align="center" show_id="{$vo.cate_is_show}">
            {if ( $vo.cate_is_show == 1)} <span class="show" style="color: green">√</span>
            {else /} <span class="show" style="color: red">×</span>
            {/if}
        </td>
        <td align="center">
            {if ( $vo.cate_is_nav_show == 1)} <span style="color: green">√</span>
            {else /} <span style="color: red">×</span>
            {/if}
        </td>
        <td align="center">{$vo.cate_price_range}</td>
        <td align="center">{$vo.cate_order}</td>
        <td align="center"><a href="product_category.php?rec=edit&cat_id=1">编辑</a> | <a href="product_category.php?rec=del&cat_id=1">删除</a></td>
     </tr>
     {/foreach}
          </table>
           </div>
 </div>
 <div class="clear"></div>
{/block}
<!-- dcFooter 结束 -->
<div class="clear"></div>