{extend name="public:base"}
{block name="body"}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>添加权限</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Limit/show')}" class="actionBtn">返回</a>添加权限</h3>
<form action="" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="100" align="right">权限名称</td>
       <td>
        <input type="text" name="limit_name" size="40" class="inpMain" />
       </td>
      </tr>
         <tr>
             <td width="100" align="right">所属控制器</td>
             <td>
                 <input type="text" name="limit_controller" size="40" class="inpMain" />
             </td>
         </tr>
         <tr>
             <td width="100" align="right">所属方法</td>
             <td>
                 <input type="text" name="limit_acction" size="40" class="inpMain" />
             </td>
         </tr>
      <tr>
       <td width="100" align="right">权限顺序</td>
       <td>
        <input type="text" name="limit_order" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">左侧导航</td>
       <td>
        <input type="radio" name="left_show" value="1" checked/>显示
        <input type="radio" name="left_show" value="0"/>不显示
       </td>
      </tr>
      <tr>
       <td align="right">所属权限</td>
       <td>
           <select name="limit_pid" id="">
               <option value="0">顶级权限</option>
               {foreach $limits as $key=>$vo}
               <option value="{$vo.limit_id}">{$vo.limit_name}</option>
               {foreach $vo.child as $k=>$v}
               <option value="{$v.limit_id}">　　{$v.limit_name}</option>
               {/foreach}
               {/foreach}
           </select>
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="5a58b748" />
        <input type="submit" name="submit" class="btn" value="提交" />
       </td>
      </tr>
     </table>
</form>
                   </div>
 </div>
 <div class="clear"></div>
{/block}
<!-- dcFooter 结束 -->
<div class="clear"></div>